services:
  flareddns:
    image: sashatech/flareddns:latest
    platform: linux/amd64
    ports:
      - "8080:8080"
    volumes:
      - ./data:/app/data
    env_file:
      - .env
    restart: unless-stopped
